<!DOCTYPE html>
<html>
    <head>
        <title>User login page</title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <header class="header">User Details </header>
        <div class="home-page">
            <p>pppppppppppppppppppppppppppppppppppppp</p>
        </div>
        <footer class="footer">@created by Sonam</footer>
    </body>
</html>