<!DOCTYPE html>
<html>
    <head>
        <title>User login page</title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <div class="container login-div">
            <div class="log-form" >
                <h2>Login to your Account</h2>
                <form>
                    <input type="text"  placeholder="username" name="username">
                    <input type="password"  placeholder="password" name="password">
                    <button type="submit" class="btn" formaction="/login">Login</button>
                    <a class="forgot" href="#">forgot password</a>
                </form>
            </div>
        </div>
     </body>
 </html>