<!DOCTYPE html>
<html>
    <head>
        <title>User login page</title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <div class="login-div"><h2>Create a free account</h2></div>
            <div class="log-form">
                <form method="POST">
                    <input type="text"  placeholder="Enter Username" name="username" id="username">
                    <input type="password"  placeholder="Enter Password" name="password" id="password">
                    <input type="password"  placeholder="Re-enter Password" name="password1" id="password1">
                    <div class="row">
                       
                            <button style="margin-left:15%"  type="submit" class="btn" formaction="/save">Save</button>
                       
                            <button style="margin-left:15%" type="submit" class="btn" >Cancel</button>
                      
                    </div>
                </form>
                
            </div>
    </body>
</html>